.info {
    font-family: Verdana, sans-serif;
    width:100%;

    &__wrapper {

        &--colored {
            background-color: $colored;
        }
    }

    &__header {
        padding: 20px;
        width: 525px;
        height: 90px;
        text-align: left;
    }

    &__essence {

        &--colored {
            background-color: $colored;
        }
        
    }

    &__foto {
        width: 475px;
        margin-left:25px;
        margin-right: 25px;
        float:right;
    }

    &__footer {
        width:100%;
        padding: 30px 10px;
        text-transform: uppercase;
        font-size: 16px;
    }
}