.info {
    width:100%;
    background-color: $colored;
    padding: 20px;

    &__wrapper {

    }

    &__essence {
        
    }

    &__header {
        font-size: 24px;
        text-align: left;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        margin-bottom: 30px;
    }

    &__advantages-list {
        min-width:360px;
        font-size: 14px;
        margin-bottom: 30px;
        dd {

        }
    }

    &__foto {
            
    }

    &__footer {
        
    }
    
    @media ($tablet-widths) {

    }

    @media ($desktop-widths) {
        
    }
}