.info {
    width:100%;
    //background-color: $colored;
    background-image: linear-gradient(to bottom, #e6e7ec, #ffffff);
    line-height: 1.5;
    padding: 20px;

    @media ($tablet-widths) {
        padding: 0;
        padding-top: 20px;
    }

    @media ($desktop-widths) {
        
    }

    &__wrapper {
        padding: 0;
        padding-top: 20px;
        @include container;
       
        @media ($tablet-widths) {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__essence {
        @media ($tablet-widths) {
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
            order: 2;
        }

        @media ($desktop-widths) {
        
        }
    }

    &__header {
        font-size: 24px;
        text-align: left;
        margin-bottom: 20px;

        @media ($tablet-widths) {
            width: 150%; //так можно?
            font-size: 30px;
            margin-bottom: 40px;
        }
    
        @media ($desktop-widths) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }

    &__text {
        font-size: 14px;
        margin-bottom: 30px;
        @media ($tablet-widths) {
            font-size: 20px;
        }
    
        @media ($desktop-widths) {
            font-size: 24px;
        }
    }

    &__advantages-list {
        min-width:360px;
        font-size: 14px;
        margin-bottom: 30px;

        @media ($tablet-widths) {
            font-size: 20px;
        }
    
        @media ($desktop-widths) {
            font-size: 24px;
        }
    }

    &__foto {
        @media ($tablet-widths) {
            width: 45%;
            order: 1;
        }
    
        @media ($desktop-widths) {
            
        }
            
    }

    &__footer {

        @media ($tablet-widths) {
            order: 3;
        }
    
        @media ($desktop-widths) {
            
        }
        
    }
    
    @media ($tablet-widths) {

    }

    @media ($desktop-widths) {
        
    }
}