/*list of the skills*/
.list {
        
    &__item {
        min-height: 100px;
        margin-bottom: 30px;
    }

    &__icon {
        width:45px;
        height:45px;
        border:1px solid grey;
        font-size: 45px;
        color: $dark;
        opacity:0.8;
    }

    &__text {
        font-size: 20px;
        font-weight: bold;
    }
    
    @media ($tablet-widths) {

    }

    @media ($desktop-widths) {
        
    }
}