.main-nav {
    padding: 20px;
   
    @media ($tablet-widths) {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        flex-grow: 0.8;
        align-self: stretch;
    }
       
    &__list {
        @media ($tablet-widths) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__item {
        padding: 0;
        width: 100%;
    }

    &__link {     
        padding: 20px;

        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        text-align: right;
        min-height: 80px;
        transition: color 0.5s;
        border: 1px solid #a5c6e0;
        color: white;
        display: block;

        @media ($tablet-widths) {
            padding: 0;
            border-style: none;
            /*display: flex;
            align-items: center;*/
            display: inline-block; //не работает отцентровка и по вертикали, и по горизонтали ни с флексами, ни так
            width: 100%;
            text-align: center;
        }
    
        &:hover {
            background-color: white;
            color: black;

            .main-nav__text::after {
                left: 0%;
                width: 100%;
                right: 0;
            }
        }

        &:active {
            background-color: white;
            color: black;
        }

        &:focus {
            background-color: white;
            color: black;
            border-color: black;
        }

        &:visited {
            
        }

        /* &--active {
            background-color: white;
            color: black;
        } */
    
    }

    &__text {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 0;
            top: 1.5em;
            height: 1px;
            left: 50%;
            background: black;
            transition: all 0.3s;
        }
    }

    &__item--active {
        background-color: transparent;
    }
    

    &__toggle {

        @media ($tablet-widths) {
            display: none;
        }
    
    } 

}