.main-nav {
        padding: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        text-align: right;

    &__toggle {

    }    
        
    &__wrapper{

    }

    &__list {

    }

    &__item {
        min-height: 80px;
        transition: color 0.5s;
        border: 1px solid #a5c6e0;

        &:hover {
            color:grey;
        }

        &:active {
            color:grey;
        }

        &:focus {
            color:grey;
        }

        &:visited {
            color:#292827;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__item-active {
        background-color: transparent;
    }
    
    @media ($tablet-widths) {

    }

    @media ($desktop-widths) {
        
    }

}