.modal {
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 139, 139, 0.9);;


    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: black;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }

    &__content {
        position: relative;
        z-index: 5000;
        background-color: white;
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        height: auto;
        line-height: 1.5;
        padding: 20px;
        padding-top: 40px;
        font-size: 14px;
        
        @media ($desktop-widths) {
            font-size: 24px;
        }

        @media ($tablet-widths) {
            padding-top: 40px;
            font-size: 20px;
        }
    }

    &__header {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;

        @media ($tablet-widths) {
            font-size: 30px;
            margin-bottom: 40px;
        }
    
        @media ($desktop-widths) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }

    &__paragraph {
        margin-bottom: 30px;
    }

    &__list {
        margin-bottom: 30px;

    }
}