.page-footer {
    padding: 10px;
    width:100%;
    min-height: 150px;
    background-color: $colored;

    &__wrapper {
        
    }

    &__social {
        padding: 0;
        text-align: center;
    }

    
@media ($tablet-widths) {

}

@media ($desktop-widths) {
    
}
}