.page-footer {
    padding: 10px;
    width:100%;
    margin:0;
    min-height: 150px;

    &--wrapper {
        margin: 0 auto;
    }

    &--colored {
        background-color: $colored;
    }

    &__social {
        margin: 50px auto;
        padding: 0;
    }

}