.page-footer {

    min-height: 150px;
    background-color: black;
    color: white;

    &__wrapper {
        padding: 20px;

        @media ($tablet-widths) {
            padding: 0;
            padding-top: 30px;
        }
        
        @media ($desktop-widths) {
            
        }
    }

    &__social {
        padding: 0;
        text-align: center;
    }

    
@media ($tablet-widths) {

}

@media ($desktop-widths) {
    
}
}