.projects {
    padding: 20px;
    display: none;

    @media ($tablet-widths) {
        padding: 0;
        padding-top: 20px;
    }

    &__wrapper {

        @media ($tablet-widths) {
            padding: 0;
            padding-top: 20px;
            @include container;
        }
    
        @media ($desktop-widths) {
            
        }
        
    }

    &__list {

    }

    &__item {
        min-height: 90px;
        border-bottom: 1px solid;
    }

    
    @media ($tablet-widths) {

    }

    @media ($desktop-widths) {
        
    }

}