/*Обо мне и мои проекты*/
.section-header{
    font-family: Verdana, sans-serif;
    padding: 10px;
    padding-top: 50px;  
    width: 525px;
    height: 90px;

    &--dark{
        background-color: $dark;
        color: #d7eef8;
    }
}