/*Обо мне и мои проекты*/
.section-toggler {
    padding: 20px;
    min-height: 90px;
    width:100%;
    
    @media ($tablet-widths) {
        padding: 0;
        padding-top: 20px;
    }            
    &__wrapper {
        @include container;
        display: flex;
        flex-direction: column;

        @media ($tablet-widths) {
            flex-direction: row;
        }
    }

    &__button {
        text-decoration: none;
        outline: none;
        padding: 20px 30px;
        background-color: rgb(224, 223, 223);
        color: black;
        transition: 0.8s;
        width:100%;
        min-height: 100px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;

        &--hidden {

        }
        
        &:hover {
            background-color: #6abfbf;
        }
       
        &--left {
            text-align: left;
        }

        &--right {
            text-align: right;
        }

        &--active {
            background-color: black;
            color: white;
            
            order: 1;

            @media ($tablet-widths) {
                order: 0;
            }
        }
    }
@keyframes lift {
    0% {
        opacity: 0;
        transform: translate3d(0.75%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
    
@media ($tablet-widths) {

}

@media ($desktop-widths) {
    
}

}