.skills {
    padding: 10px;
    width:100%;
    font-family: Verdana, sans-serif;

    &__wrapper {

    }

    &__header {
        width: 725px;
        margin: 65px auto;
        font-size: 32px;
        font-weight: bold;
    }

    &__list {
        font-size: 20px;
        font-weight: bold;

    }
}