.skills {
    padding: 20px;
       
    &__wrapper {

    }

    &__header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__list {
        font-size: 16px;
        font-weight: bold;
    }

    
@media ($tablet-widths) {

}

@media ($desktop-widths) {
    
}
}